.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.attributes-container {
  text-decoration: unset;
  text-align: left;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.stats-container > div {
  flex: 1;
}

@media (max-width: 750px) {
  .stats-container {
    flex-direction: column;
  }
}

li {
  list-style-type: circle;
}

.section-title {
  font-weight: bold;
  text-decoration: underline;
  margin: 1rem 0rem;
  text-align: center;
}

.stats-container > div {
  animation: 0.25s ease-out 0s 1 showStats;
  padding: 1rem;
  text-align: left;
}
