.App {
  text-align: center;
  min-height: 100%;
  display: flex;
  background-color: black;
  padding: 1rem 5rem;
}

.container {
  border-radius: 8px;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.section-container > div > span:first-child {
  font-weight: bold;
}

.container div.new-char:last-child {
  margin-top: auto;
}

.logo {
  max-width: 20%;
  margin-bottom: 1em;
}

@media (max-width: 750px) {
  .App {
    padding: 8px;
    background-color: white;
  }
  .container {
    padding: 8px;
    border-radius: 0;
  }
  .logo {
    max-width: 25%;
  }
  .generator-link {
    position: relative;
    padding-bottom: 8px;
  }
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@keyframes showStats {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  font-family: "Garamond";
  height: 100vh;
  font-size: 24px;
}

.generator-link {
  position: relative;
  font-weight: bold;
  font-size: 48px;
  opacity: 1;
  transition: all ease-out 1s;
}

.generator-link:active {
  font-size: 48px;
  opacity: 0.25;
  transition: 0.1s ease-out;
}

#root {
  height: 100%;
}

.generator-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
